# Django
SECRET_KEY=django-i3779d&8!+^_
DEBUG=True
ALLOWED_HOSTS=*

# PostgreSQL
POSTGRES_DB=grpc_kafka
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Hello
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis (for Celery broker)
REDIS_URL=redis://redis:6379/0
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
